#dealer-cards
  display: flex
  flex-direction: column
  align-items: center
  .card
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding-top: 40px
    text-align: center
    h6
      font-size: 22px
      font-weight: normal
      margin: 0 0 15px 0 

    .hours
      text-align: center
      h6
        font-weight: bold
        font-size: 14px
        margin: 0
      p
        font-size: 14px
        margin: 0
    .call
      font-family: 'Open Sans', sans-serif
      border: 1px solid $blue
      border-radius: 2px
      padding: 5px 5px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      background-color: $blue
      color: white
      font-size: 10px
      font-weight: bold
      span
        margin-left: 5px
        margin-right: 5px
        font-size: 18px
    .email
      font-size: 12px
      margin: 15px 0