.hero-section 
  text-align: center
  background-color: $blue
  padding: 75px 0
  background-image: url('./images/hero-mobile.png')
  background-size: cover
  background-position: 65%
  +desktop()
    background-image: url('./images/hero-image.png')
  h2, h3, hr
    margin: 0 auto 50px auto
    +desktop()
      text-shadow: 1px 1px 10px rgba(black, .7)
  h2
    font-size: 32px
    color: white
    font-weight: lighter
    width: 80%
    +small-mobile()
      width: 90%
  h3
    font-size: 14px
    color: $blue-light
  hr
    width: 40%
    height: 2px
    border: none
    background-color: white
    +desktop()
      width: 10%
  p
    color: white
    font-size: 14px
    width: 65%
    margin: 0 auto
    font-weight: 400