*
  transition: ease-in-out .2s
  box-sizing: border-box
=desktop()
  @media screen and (min-width: 951px)
    @content
=ultra()
  @media screen and (min-width: 1921px)
    @content
=mobile()
  @media screen and (max-width: 950px)
    @content
=small-mobile()
  @media screen and (min-width: 300px) and (max-width: 375px)
    @content
=laptop()
  @media screen and (min-width: 951px) and (max-width: 1412px)
    @content
=tablet()
  @media screen and (max-width: 951px) and (min-width: 550px)
    @content

// Color Variables

$blue: #226bda
$blue-dark: #093d91
$blue-light: #46d6d6

// Styling Classes

.uppercase
  text-transform: uppercase
.hidden
  display: none

// CSS imports

@import header
@import hero
@import process
@import dealers
@import dealerCards
@import footer
@import emailModal



//font import

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')

// Global Styles

body
  font-family: 'Open Sans', sans-serif
  padding: 0
  margin: 0
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: center
  overflow-x: hidden
  overflow-y: hidden

a
  text-decoration: none
  color: inherit
button
  font-family: 'Open Sans', sans-serif
  background-color: transparent
  border: 1px solid $blue
  color: $blue 
  border-radius: 4px
  padding: 5px 5px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
